<button mat-button [matMenuTriggerFor]="langMenu">{{ selectedLanguageCode | uppercase }}</button>
<mat-menu #langMenu="matMenu">
  @for (language of languages; track language) {
    <button mat-menu-item (click)="changeLanguage(language.ietf)">
      <div class="menu-item">
        {{ language.name | pptranslate }}
        @if (language.ietf === selectedLanguageCode) {
          <mat-icon attr.aria-label="{{ 'Language.Selected' | pptranslate }}"
            >check</mat-icon
            >
          }
        </div>
      </button>
    }
  </mat-menu>
  