.item-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-container-mobile {
  padding: 16px 16px 0 16px;
}

::ng-deep .content-image-preview-content {
  justify-content: center !important;
  display: flex !important;
  flex-direction: row !important;
  overflow: hidden !important;

  img {
    flex: 1;
    height: 100% !important;
  }
}

.preview-image {
  background-color: #4a634a;
  padding: 0;
}

.item {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-width: 900px;

  mat-card:not(:last-of-type) {
    margin-bottom: 20px;
  }
}

.checkbox {
  margin: 0 8px;
}
