<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
<div class="item-container">
  <div *ngIf="!loading" class="item mat-typography">
    <mat-card class="custom-shadow">
      <mat-card-title>
        {{ item.name }}
      </mat-card-title>
    </mat-card>

    <mat-card class="custom-shadow">
      <div *ngIf="virtualItemHtml === null; else virtualContent">
        <img *ngIf="imageUrl" [src]="imageUrl" (click)="openContent()" />
      </div>

      <ng-template #virtualContent>
        <div [innerHTML]="virtualItemHtml"></div>
      </ng-template>
    </mat-card>

    <app-layer-panels *ngIf="schemas" [content]="content" [schemas]="schemas">

    </app-layer-panels>

  </div>
</div>
