.item-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-container-mobile {
  padding: 16px 16px 0 16px;
}

.preview-image {
  background-color: #4a634a;
  padding: 0;
}

.item {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-width: 900px;
  min-width: 900px;
  /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
  mat-card:not(:last-of-type) {
    margin-bottom: 20px;
  }

  &-mobile {
    min-width: 100%;
  }
}

.checkbox {
  margin: 0 8px;
}
