<ng-container *ngIf="state() as state">
  <mat-progress-bar mode="indeterminate" *ngIf="state.loading"></mat-progress-bar>
  <div class="item-container" [class.item-container-mobile]="mobileQuery.matches">
    <div *ngIf="!state.loading" class="item mat-typography" [class.item-mobile]="mobileQuery.matches">
      <mat-card appearance="raised" class="custom-shadow">
        <mat-card-title>
          {{ state.content.displayValues!['name'] }}
        </mat-card-title>
      </mat-card>

      <mat-card appearance="raised" class="custom-shadow preview-image" *ngIf="state.content.contentType !== 'Virtual'">
        <div>
          <pp-content-image-preview [content]="state.content"></pp-content-image-preview>
        </div>
      </mat-card>

      <pp-layer-panels
        [content]="state.content"
        [schemas]="state.schemas"
        [showContentSchema]="state.content.contentType === 'Virtual'"
        [excludedLayerSchemaIds]="systemLayerSchemaIds"
        (relationClick)="relationClick($event)"
      >
      </pp-layer-panels>
    </div>
  </div>
</ng-container>
