/*
    This is the customStyle.css file
    Any easy and common used adjustments can be done in here, such as colors, logo etc.
*/


/*Color palette*/
/*primary color*/
.primary-color,
.primary-color p,
.primary-color a {
    color: #2c6836;
}

.more-info-btn .btn-content{
    background-color: #fff;
    color: #000;
}

.more-info-btn .btn-content a {
    color: #2c6836;
    text-decoration: none;
}
.more-info-btn .btn-content a:hover{
    text-decoration: underline;
}
.primary-color-bckgr {
    background-color: #2c6836;
}

/*secondary color*/
.secondary-color-bckgr,
*::selection {
    background-color: #78be31;
}
*::selection,
.footer-bottom,
.footer-bottom a,
.footer-bottom li,
.active-page {
    color: #fff;
}

/*gradients*/
.gradient-bckgr {
    background: linear-gradient(to right, rgba(80,150,49,1), rgba(44,104,54,1)) !important
}
.gradient-shadow {
    box-shadow: 4px 10px 8px rgba(44,104,54,.5);
}
.gradient-shadow-bottom {
    box-shadow: 0px 3px 1px -2px rgba(44,104,54,.7);
}

.button{
    color: #fff;
}


/*Images and media*/
#logo {
    width: 200px;
    height: 95px;
    background-image: url('../media/images/logo-fofa.png');
}

#welcome-img {
    background-image: url('../media/images/header-background.jpg');
}

.footer-img {
    background-image: url('../media/images/logo-fofa.png');
}

/*style solely for FOFA*/
.more-info-btn {
    padding: 10px 20px;
    line-height: 22px;
    font-size: 17px;
}


/*all other colors*/
/*color*/
.search-form input,
.search-form input::-webkit-input-placeholder,
.search-form input::-moz-placeholder,
.mobile-nav .close-icon {
    color: #000;
}

.mobile-nav .menu-icon,
.active-page {
    color: #fff;
}
p, li, a {
    color: #212529; /*dark grey*/
}
.article-title{
    color: #444; /*regular grey*/
}
.article-lead{
    color: #aaa; /*light grey*/
}
/*background-color*/
.social-media-info img:hover {
    background-color: #000;
}
.header-scroll-position,
.search-active,
.mobile-inner-nav {
    background-color: #fff;
}
.download-item:hover {
    cursor: pointer;
    background-color: rgba(50,50,50, .1);
    transition: background-color 500ms, box-shadow 250ms;
    box-shadow: 4px 5px 4px -2px rgba(75,75,75, .7);
}