/*
    This stylesheet contains all code which can easily be customised.
    Examples: logo, main colors
*/

/*MAIN FONT COLOR*/
h2.catHead, .L3header h1.entry-title, .L2header h1.entry-title, .L1header h1.entry-title, .L1header .L1tag, .L1header .L1tag p, .L1header .L1tag a, a:hover,
#moreInfoTooltip a, /*header area*/
.pageNr, /*paging area*/
.breadcrumbs a, .breadcrumbs .separator, .breadcrumbs a:hover, article .post-meta span.author a, #downloadWrapper p, /*article detail view*/
.more-link, /*overview boxes*/
.searchResults a, /*search page*/
#et-info-email, .et-social-icon a, #et-info-phone:before, #et-info-email:before /*footer area*/ {
    color: #2c6836 !important;
}

    /*2ND FONT COLOR*/
    #moreInfo, #moreInfo:hover, /*header area*/
    .pageNavBtn, .pageActive, .pageNr:hover, /*paging area*/
    #et-footer-nav, #footer-bottom, #footer-bottom a, #et-footer-nav a:hover, #footer-bottom a:hover /*footer area*/ {
        color: #fff !important;
    }


/*BUTTONS, GRADIENTS AND SHADOWS*/
#moreInfo,
.pageNavBtn, .pageActive, .pageNr:hover,
#et-footer-nav, #footer-bottom, #footerTopSection {
    background: linear-gradient(to right, rgba(80,150,49,1), rgba(44,104,54,1)) !important;
}

.pageNavBtn,
#mobileNavHeader {
    box-shadow: 2px 2px 3px rgba(44,104,54,.5);
}
.pageActive, .pageNr:hover,
.searchResults p {
    box-shadow: 0px 3px 1px -2px rgba(44,104,54,.7);
}
#moreInfo,
#et-footer-nav, #footer-bottom, #footerTopSection {
    box-shadow: 4px 10px 8px rgba(44,104,54,.5);
}
.searchActive .et-search-field {
    box-shadow: 1px 2px 4px 1px rgba(44,104,54,.7);
}
.scrollHeader {
    background: #fff !important;
    box-shadow: 1px 1px 1px rgba(44,104,54,.7) !important;
}
#downloadWrapper .downloadItem {
    box-shadow: 4px 5px 4px -2px rgba(44,104,54, .5);
}
#downloadWrapper .downloadItem:hover {
    background-color: rgba(50,50,50, .1);
    box-shadow: 4px 5px 4px -2px rgba(75,75,75, .7);
    transition: background-color 500ms, box-shadow 250ms;
}
#moreInfoTooltip {
    box-shadow: 4px 4px 10px 4px rgba(44,104,54,.6);
}

/*TEXT SELECTION*/
p::selection, h1::selection, h2::selection, h3::selection, a::selection, div::selection, span::selection {
    color: #fff;
    background: #2c6836;
    background: #78be31;
}

/*REST OF ADJUSTMENTS*/
.breadcrumbs:hover a {
    border-bottom: 2px solid #2c6836;
}
#et_top_search.mobileNavActiveItems,
#top-menu-nav.mobileNavActiveItems li a {
    border-bottom: 2px solid rgba(44,104,54,.5);
}


/*LOGO AND OTHER IMAGES*/
#logo {
    height: 95px;
    width: 200px;
    background-image: url("../media/images/logo-fofa.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.L1header:before { /*welcome intro image*/
    height: 400px;
    background-image: url(../media/images/header-background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /*flip image horizontally*/
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

#footerImg {
    height: 100px;
    background-image: url(../media/images/logo-fofa.png);
    background-size: contain;
    background-repeat: no-repeat;
}


/*custom adjustments for FOR*/
#top-menu li:nth-child(2) {
    display: none;
}

/*.a2a_kit {
    display: none;
}*/