/*General styling*/
*{
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    font-weight: 400;
}

.article-title, .article-detail-lead {
    font-family: Roboto Slab;
}

.article-title, .article-detail-lead,
.read-more, .breadcrumb a {
    font-weight: 300;
}

p, li, a, nav a,
.search-form input,
.article-lead,
.footer-bottom, .footer-bottom a,
.breadcrumb .material-icons {
    font-size: 15px;
}

.more-info-btn .btn-content a,
.article-title, .article-detail-lead,
.breadcrumb a,
.article-detail-about a, .article-detail-about span,
.detail-body-text p,
.contact-info a, .contact-info span {
    font-size: 18px;
}

h5, .breadcrumb,
.header-entry-subtitle, .header-entry-subtitle a,
.page-nav .button,
.contact-info a .material-icons {
    font-size: 20px;
}

h4 {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.header-entry-title,
.searchWrapper .material-icons,
.more-info-btn .close-icon {
    font-size: 30px;
}

.mobile-nav .material-icons,
.article-detail-title{
    font-size: 40px;
}

.read-more {
    line-height: 25px;
}

.article-title,
.article-detail-lead,
.detail-body-text p{
    line-height: 30px;
}

.searchWrapper .material-icons,
.mobile-search .searchWrapper .material-icons,
.footer-bottom ul {
    line-height: 50px;
}

.button {
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.no-text-link, .semi-link{
    text-decoration: none;
}
.no-text-link:hover{
    text-decoration: none;
}
.semi-link:hover{
    text-decoration: underline;
}

/*Header start*/
header {
    height: 25em;
}

.header-top-row {
    height: 100px;
    animation-duration: 500ms;
    animation-name: fade;
    align-content: center;
}

#logo {
    margin-left: 20px;
    background-size: contain;
    background-repeat: no-repeat;
}

#logoWrapper{
    display: inline-block;
    box-sizing: border-box;
}

.header-nav {
    display: inline-block;
    float: right;
    box-sizing: border-box;
    padding: 40px 40px 0 0;
}

#welcome-img {
    height: inherit;
    background-size: cover;
    background-position-y: center;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline-block;
    text-transform: uppercase;
}

nav a{
    letter-spacing: 0.7px;
}

nav a:hover{
    padding: 5px 0;
    border-bottom: 2px solid #000;
}

.left-nav {
    margin-right: 50px;
}

.current_page_item {
    padding: 15px 0 5px 0;
    border-bottom: 2px solid #000;
}

.menu-item-language-current {
    padding: 15px 0 5px 0;
    border-bottom: 2px solid #000;
}

.searchWrapper {
    margin-right: 45px;
}

.searchWrapper form{
    float: left;
    margin-left: 25px;
}

.searchWrapper .material-icons {
    cursor: pointer;
    vertical-align: bottom;
}

.search-form input {
    height: 45px;
    width: 250px;
    border: none;
    animation-duration: 500ms;
    animation-name: searchIn;
}
    .search-form input:focus{
        outline: none;
    }

.search-active {
    border: none;
    border-radius: 5px;
    padding-right: 10px;
    box-sizing: border-box;
}

.search-form.visually-hidden{
    animation-duration: 500ms !important;
    animation-name: searchOut !important;
}
.search-form input::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

.header-second-row {
    max-width: 700px;
    padding: 75px 0 0 30px;
}

.header-entry-subtitle{
    margin-top: 50px;
}

.more-info-btn .btn-content {
    position: absolute;
    width: 450px;
    margin-top: 20px;
    margin-left: -20px;
    padding: 45px 45px 20px 20px;
    border-radius: 3px;
    animation-duration: 500ms;
    animation-name: slidein;
    z-index: 200;
}
.more-info-btn .close-icon {
    position: absolute;
    float: right;
    top: 0;
    right: 0;
    margin: 10px;
}

.header-scroll-position {
    position: fixed;
    width: 100%;
    height: 110px;
    z-index: 100;
}
.mobile-nav {
    display: none;
    float: right;
    margin: 30px;
    box-sizing: border-box;
    cursor: pointer;
}
.mobile-nav .material-icons {
    border-radius: 3px;
    padding: 2px;    
}

.mobile-nav .close-icon {
    cursor: pointer;
    z-index: 150;
}

.mobile-inner-nav {
    position: fixed;
    float: left;
    width: 75%;
    height: 100vh;
    top: 110px;
    left: 0;
    padding: 50px 5% 0 5%;
    box-sizing: border-box;
    z-index: 100;
    animation-duration: 500ms;
    animation-name: navIn;
}

.more-info-btn,
.nav-links,
.searchWrapper{
    float: left;
    margin: 0 25px;
}

.mobile-nav-right-bar {
    position: fixed;
    width: 25%;
    height: 100vh;
    top: 0;
    right: 0;
    background-color: transparent;
    cursor: initial;
}
.mobile-search {
    display: block;
    width: 90%;
    height: 50px;
    vertical-align: bottom;
    margin-bottom: 20px;
}
.mobile-search .searchWrapper {
    height: inherit;
    width: 100%;
    margin: 0;
}
.mobile-search .searchWrapper .material-icons {
    vertical-align: bottom;
}
.mobile-search .searchWrapper form {
    margin-top: -60px;
    width: 90%;
    margin-left: 45px;
}
.mobile-search .searchWrapper input {
    width: 85%;
}
.mobile-nav-links {
    height: 100px;
    margin-bottom: 20px;
}
.mobile-nav-links .nav-links {
    margin: 0;
    width: 90%;
}box-shadow
.mobile-nav-links .left-nav {
    display: block;
    margin-bottom: 15px;
}
.mobile-more-info .more-info-btn {
    margin: 70px 0 0 0;
}
/*Header end*/


/*Body overview start*/
.article-wrap {
    width: 66%;
    margin: 150px auto;
}

.article-box {
    position: relative;
    display: inline-block;
    width: 27%;
    height: 520px;
    margin: 0 3% 100px 3%;
    box-shadow: 0 1px 6px rgba(0,0,0,0.18);
    box-sizing: border-box;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
    .article-box:hover {
        transform: scale(1.03, 1.03);
        box-shadow: 0 1px 10px rgba(0,0,0,0.7);
    }

.article-img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.article-head-info {
    padding: 0px 25px;
    box-sizing: border-box;
}

.article-title {
    padding-top: 10px;
    padding-bottom: 20px;
}


.article-lead {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
}
.read-more {
    position: absolute;
    bottom: 30px;
}
.read-more i{
    vertical-align: bottom;
}
.page-nav {
    width: 175px;
    margin: auto;
}

.page-list {
    width: 100%;
    margin-bottom: 25px;
    text-align: center;
}

.page-number {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    padding: 5px;
    cursor: pointer;
}

.page-nav .button {
    margin-bottom: 25px;
    padding: 18px 20px;
    box-sizing: border-box;
    text-align: center;
}

.hide-element{
    display: none;
}
.visually-hidden{
    opacity: 0;
    animation-duration: 500ms !important;
    animation-name: slideout !important;
}
.active {
    animation-duration: 500ms;
    animation-name: slidein;
}
/*Body overview end*/

/*Body detail view start*/
.breadcrumb {
    position: absolute;
    width: 170px;
    left: 70px;
    text-align: initial;
}

.article-detail{
    width: 60%;
    margin: auto;
    text-align: initial;
}

.article-detail-about{
    height: 75px;
    margin-top: 50px;
}

.detail-hero-image{
    max-width: 100%;
    margin-bottom: 50px;
}

.detail-body-text p {
    margin-bottom: 30px;
}

.download-item {
    display: inline-block;
    height: 150px;
    width: 100%;
    margin-bottom: 40px;
}

.download-item:hover {
    cursor: pointer;
}
.download-item a {
    display: inline-block;
    width: 100%;
}

.download-item .material-icons {
    opacity: 0;
    position: absolute;
    margin-top: 35px;
    margin-left: 35px;
    font-size: 80px;
}

.download-item:hover .material-icons{
    opacity: 1;
    transition: opacity 500ms;
}

.download-item img {
    width: 150px;
    max-height: 150px;
    object-fit: cover;
}

.download-item p {
    display: inline-block;
    margin-left: 50px;
    padding: 10px;
    box-sizing: border-box;
    vertical-align: top;
}
/*Body detail view end*/


/*Body search results start*/
.search-results{
    max-width: 1080px;
    margin: auto;
}

.search-result-item {
    height: auto;
    margin-bottom: 40px;
    box-sizing: border-box;
}

.search-result-item h5 {
    margin-bottom: 20px;
}

.search-result-item a {
    font-size: inherit;
    font-weight: inherit;
}

.no-results {
    padding-bottom: 25px;
}
/*Body search results end*/


/*Footer start*/
.footer-row {
    width: 66%;
    min-height: 175px;
    margin: auto;
    padding: 15px;
    box-sizing: border-box;
}

.footer-row ul {
    position: absolute;
    right:0;
    bottom: 20px;
    list-style-type: none;
    cursor: pointer;
}

.footer-row li {
    display: inline;
}

.footer-row-el {
    display: inline-block;
    position: relative;
    width: 27%;
    height: 100px;
    margin: 0 3%;
    text-align: center;
}

.footer-img {
    height: 175px;
    background-repeat: no-repeat;
    background-size: auto 100px;
    background-position: bottom left;
}

.contact-info a {
    position: absolute;
    bottom: 20px;
    left: 18%;
}

.contact-info a, .contact-info span {
    vertical-align: bottom;
}

.contact-info a .material-icons{
    vertical-align: bottom;
}

.social-media-info img {
    height: 25px;
    width: 25px;
    margin-right: 10px;
}

.footer-bottom{
    position: relative;
    padding-top: 100px;
}

.footer-bottom .footer-row-el {
    position: initial;
}

.footer-bottom .footer-row{
    position: relative;
}

.footer-bottom .footer-row-el {
    right: initial;
}

.footer-bottom, .footer-bottom a{
    font-weight: 400;
}

.footer-bottom ul {
    height: 50px;
    padding: 0 35px;
}

#links-footer {
    height: 50px;
    min-height: initial;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: 0;
}

#terms-footer{
    height: 50px;
    min-height: initial;
    margin-top: 100px;
}

#terms-footer .footer-row-el{
    height: 20px;
}
#terms-footer .footer-row-el {
    width: initial;
}

#terms-footer span {
    margin: 0 15px;
}
/*Footer end*/

/*Keyframes start*/
@keyframes slidein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
@keyframes slideout{
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@keyframes fade {
    from {
        width: 100%;
        z-index: 100;
    }

    to {
        width: initial;
        background-color: transparent;
        z-index: initial;
    }
}

@keyframes searchIn {
    from {
        opacity: 0;
        width: 50px;
    }

    to {
        opacity: 1;
        width: 250px;
    }
}

@keyframes searchOut {
    from {
        width: 250px;
        opacity: 1;
    }

    to {
        width: 50px;
        opacity: 0;
    }
}

@keyframes navIn {
    from {
        opacity: 0;
        width: 100px;
    }

    to {
        opacity: 1;
        width: 75%;
    }
}

@keyframes navOut {
    from {
        opacity: 1;
        width: 75%;
    }

    to {
        opacity: 0;
        width: 100px;
    }
}

@keyframes searchHeaderIn {
    from {
        opacity: 0;
        width: 100px;
    }

    to {
        opacity: 1;
        width: 100%;
    }
}

@keyframes searchHeaderOut {
    from {
        opacity: 1;
        width: 100%;
    }

    to {
        opacity: 0;
        width: 30%;
    }
}
/*Keyframes end*/

/*Responsive start*/
@media(max-width: 1600px){
    .article-wrap {
        width: 75%;
    }
}

@media(max-width: 1300px){
    .header-second-row{
        max-width: 400px;
    }
    .header-entry-subtitle{
        margin-top: 0;
    }
    .mobile-header-banner {
        position: absolute;
        width: 100%;
        height: 255px;
        left: 0;
        margin-top: -30px;
        background: rgba(255,255,255,.4);
        box-shadow: 2px -5px 5px -3px rgba(255,255,255,.4);
        z-index: 50;
    }
    .header-second-row article {
        position: relative;
        z-index: 90;
    }
    .article-wrap {
        width: 85%;
    }
    .article-box{
        width: 40%;
    }
    .breadcrumb {
        left: 30px;
    }
    .footer-row{
        width: 100%;
    }
    #links-footer, #terms-footer {
        width: 66%;
    }
}

@media(max-width: 1100px){
    .breadcrumb{
        left: 75px;
        margin: -100px 0 0 0;
    }
    .article-detail{
        width: 80%;
    }
    .search-results{
        padding: 0 50px;
    }
}

@media(max-width: 850px){
    .header-nav{
        display: none;
    }
    .mobile-nav{
        display: inline-block;
    }
    .article-wrap {
        width: 100%;
    }
    .article-box{
        display: block;
        width: 50%;
        margin: 50px auto;
    }
    .footer-row-el {
        display: block;
        margin: auto;
    }
    .footer-img, .contact-info, .social-media-info{
        width: 250px;
    }
    .footer-img{
        left: 20px;
    }
    .footer-row-el a, .social-media-info ul{
        left: 0;
        right: 0;
    }
    #terms-footer{
        width: 100%;
    }
}

@media(max-width: 650px){
    .article-box {
        width: 70%;
    }
    .breadcrumb{
        left: 30px;
    }
    .footer-bottom ul{
        padding: 0;
    }
    #terms-footer span {
        margin: 0;
    }
}
/*Responsive end*/