*{
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

/*General styling*/
p, li, a {
    font-size: 16px;
    font-weight: 400;
    color: #212529;
}
h1,h2,h3,h4, h5{
    font-weight: 400;
}

h4 {
    font-size: 24px;
    margin-top: 20px;
    line-height: 1.2;
    margin-bottom: 10px;
}

h5{
    font-size: 20px;
}

.button {
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

.col-2 {
    display: inline-block;
    box-sizing: border-box;
}

.col-3{
    width: 27%;
    margin: 0 3%;
    text-align: center;
}

.col-el {
    float: left;
    margin: 0 25px;
}

.col-last {
    float: right;
}

.row {
    align-content: center;
}

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

/*Header start*/
header {
    height: 25em;
}

.header-first-row {
    height: 100px;
}

#logo {
    margin-left: 20px;
    background-size: contain;
    background-repeat: no-repeat;
}

.welcome-img {
    height: inherit;
    background-size: cover;
    background-position-y: center;
}

.hidden-content {
    display: none;
}

.header-nav{
    padding-top: 40px;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline-block;
    text-transform: uppercase;
}

nav a{
    font-size: 14px;
    letter-spacing: 0.7px;
    text-decoration: none;
}

nav a:hover{
    text-decoration: none;
    padding: 5px 0;
    border-bottom: 2px solid #000;
}

.left-nav {
    margin-right: 50px;
}

.current_page_item {
    padding: 15px 0 5px 0;
    border-bottom: 2px solid #000;
}

.menu-item-language-current {
    padding: 15px 0 5px 0;
    border-bottom: 2px solid #000;
}

#searchWrapper {
    margin-right: 45px;
}

#searchWrapper .material-icons{
    cursor: pointer;
    font-size: 32px;
    line-height: 40px;
}

.header-second-row{
    max-width: 700px;
    padding: 75px 0 0 30px;
}

.header-entry-title{
    font-size: 28px;
    line-height: 35px;
}

.header-entry-subtitle{
    margin-top: 50px;
    font-size: 18px;
}

#more-info-btn .btn-content {
    position: absolute;
    width: 450px;
    margin-top: 20px;
    margin-left: -20px;
    padding: 20px;
}

.header-scroll-position {
    position: fixed;
    width: 100%;
    height: 110px;
    background-color: #fff;
    z-index: 100;
}
.mobile-nav {
    display: none;
    float: right;
    margin: 30px;
    box-sizing: border-box;
    cursor: pointer;
}
    .mobile-nav .material-icons {
        border-radius: 3px;
        padding: 2px;
        font-size: 40px;
        color: #fff;
    }
/*Header end*/


/*Body overview start*/
.article-wrap {
    width: 66%;
    margin: 150px auto;
}

.article-box {
    position: relative;
    display: inline-block;
    width: 27%;
    height: 520px;
    margin: 0 3% 100px 3%;
    box-shadow: 0 1px 6px rgba(0,0,0,0.18);
    box-sizing: border-box;
    overflow: hidden;
}

.article-img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.article-head-info {
    padding: 0px 25px;
    box-sizing: border-box;
}
    .article-head-info a, .article-head-info a:hover {
        text-decoration: none;
    }

.article-title {
    padding-top: 10px;
    padding-bottom: 20px;
}

    .article-title a {
        font-family: "Roboto Slab";
        font-weight: 300;
        font-size: 18px;
        line-height: 28px;
    }

.article-lead {
    display: -webkit-box;
    font-size: 15px;
    line-height: 24px;
    color: #aaa;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
}
.read-more {
    position: absolute;
    bottom: 30px;
    font-weight: 300;
    line-height: 24px;
}
.read-more i{
    line-height: 24px;
    vertical-align: bottom;
}
.page-nav {
    width: 175px;
    margin: auto;
}

.page-list {
    width: 100%;
    margin-bottom: 25px;
    text-align: center;
}

.page-number {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    padding: 5px;
    cursor: pointer;
}

.page-nav .button {
    margin-bottom: 25px;
    padding: 18px 20px;
    box-sizing: border-box;
    text-align: center;
    font-size: 20px;
}

.active-page {
    color: #fff;
}

.hide-element{
    display: none;
}
/*Body overview end*/

/*Body detail view start*/
.breadcrumb {
    position: absolute;
    left: 0;
    text-align: initial;
}

.breadcrumb .material-icons{
    font-size: 15px;
}

.breadcrumb a {
    font-weight: 300;
}

.breadcrumb a, .article-detail-about a{
    text-decoration: none;
}

.breadcrumb a:hover, .article-detail-about a:hover{
    text-decoration: underline;
}

.article-detail{
    width: 60%;
    margin: auto;
    text-align: initial;
}

.article-detail-title{
    font-size: 40px;
}

.article-detail-about{
    height: 75px;
    margin-top: 50px;
}

.article-detail-about a, .article-detail-about span  {
    font-size: 17px;
}

.article-detail-lead{
    font-size: 18px;
    font-family: "Roboto Slab";
    font-weight: 300;
    line-height: 30px;
}

.detail-hero-image{
    margin-bottom: 50px;
}

.detail-body-text p {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 30px;
}

.download-item {
    display: inline-block;
    height: 150px;
    width: 100%;
    margin-bottom: 40px;
}

.download-item:hover {
    cursor: pointer;
    background-color: rgba(50,50,50, .1);
    transition: background-color 500ms, box-shadow 250ms;
    box-shadow: 4px 5px 4px -2px rgba(75,75,75, .7);
}

.download-item a {
    display: inline-block;
    width: 100%;
    text-decoration: none;
}

.download-item:hover a{
    text-decoration: underline;
}

.download-item .material-icons {
    opacity: 0;
    position: absolute;
    margin-top: 35px;
    margin-left: 35px;
    font-size: 80px;
}

.download-item:hover .material-icons{
    opacity: 1;
    transition: opacity 500ms;
}

.download-item img {
    width: 150px;
    max-height: 150px;
    object-fit: cover;
}

.download-item p {
    display: inline-block;
    margin-left: 50px;
    padding: 10px;
    box-sizing: border-box;
    vertical-align: top;
}
/*Body detail view end*/


/*Body search results start*/
.search-results{
    max-width: 1080px;
    margin: auto;
}

.search-result-item {
    height: 100px;
    margin-bottom: 40px;
    box-sizing: border-box;
}

.search-result-item h5 {
    margin-bottom: 20px;
}

.search-result-item a {
    font-size: inherit;
    font-weight: inherit;
    line-height: 24px;
    text-decoration: none;
}

.search-result-item a:hover{
    text-decoration: underline;
}

.no-results {
    padding-bottom: 25px;
}
.no-results a{
    text-decoration: none;
}
.no-results a:hover{
    text-decoration: underline;
}
/*Body search results end*/


/*Footer start*/
.footer-row {
    width: 66%;
    min-height: 175px;
    margin: auto;
    padding: 15px;
    box-sizing: border-box;
}

.footer-row ul {
    position: absolute;
    right:0;
    bottom: 20px;
    list-style-type: none;
    cursor: pointer;
}

.footer-row li {
    display: inline;
}

.footer-row-el {
    display: inline-block;
    position: relative;
    height: 100px;
}

.footer-img {
    height: 175px;
    background-repeat: no-repeat;
    background-size: auto 100px;
    background-position: bottom left;
}

.contact-info a {
    position: absolute;
    bottom: 20px;
    left: 18%;
}

.contact-info a, .contact-info span {
    font-size: 17px;
    line-height: 25px;
    text-decoration: none;
    vertical-align: bottom;
}

.contact-info a .material-icons{
    font-size: 21px;
    line-height: 25px;
    vertical-align: bottom;
}

.social-media-info a{
    text-decoration: none;
}

.social-media-info img {
    height: 25px;
    width: 25px;
    margin-right: 10px;
}

.social-media-info img:hover{
    background-color: #000;
}

.footer-bottom{
    position: relative;
    padding-top: 100px;
}

.footer-bottom .footer-row-el {
    position: initial;
}

.footer-bottom .footer-row{
    position: relative;
}

.footer-bottom .footer-row-el {
    right: initial;
}

.footer-bottom, .footer-bottom a{
    font-size: 14px;
    font-weight: 400;
}

.footer-bottom a {
    text-decoration: none;
}

.footer-bottom a:hover{
    text-decoration: underline;
}

.footer-bottom ul {
    height: 50px;
    padding: 0 35px;
    line-height: 50px;
}

#links-footer {
    height: 50px;
    min-height: initial;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: 0;
}

#terms-footer{
    height: 50px;
    min-height: initial;
    margin-top: 100px;
}

#terms-footer .footer-row-el{
    height: 20px;
}

#terms-footer span {
    margin: 0 15px;
}
/*Footer end*/

/*Responsive start*/
@media(max-width: 1600px){
    .article-wrap {
        width: 75%;
    }
}

@media(max-width: 1300px){
    .header-second-row{
        max-width: 400px;
    }
    .header-entry-subtitle{
        margin-top: 0;
    }
    .mobile-header-banner {
        position: absolute;
        width: 100%;
        height: 255px;
        left: 0;
        margin-top: -30px;
        background: rgba(255,255,255,.4);
        box-shadow: 2px -5px 5px -3px rgba(255,255,255,.4);
        z-index: 50;
    }
    .header-second-row article {
        position: relative;
        z-index: 100;
    }
    .article-wrap {
        width: 85%;
    }
    .article-box{
        width: 40%;
    }
}

@media(max-width: 850px){
    .header-nav{
        display: none;
    }
    .mobile-nav{
        display: inline-block;
    }
    .article-wrap {
        width: 50%;
    }
    .article-box{
        width: 100%;
    }
}

@media(max-width: 650px){
    .article-wrap{
        width: 70%;
    }
}
/*Responsive end*/

/*AddToAny start*/
.a2a_vertical_style {
    top: 40vh !important;
}

.page-template-page-template-blank .a2a_vertical_style,
.home .a2a_vertical_style {
    display: none;
}


body .a2a_vertical_style {
    /*	background-color: #f2f2f2;*/
    background-color: transparent;
    padding: 1px 2px 1px 0;
    border-radius: 0 !important;
    border-top-right-radius: 3px !important;
    border-bottom-right-radius: 3px !important;
    z-index: 100000;
}

.a2a_vertical_style .a2a_svg {
    border-radius: 0 !important;
    padding: 10px;
}

.a2a_floating_style .a2a_svg.a2a_s__default.a2a_s_google_plus {
    padding: 5px;
}

.a2a_floating_style .a2a_svg.a2a_s__default.a2a_s_a2a {
    padding: 12px;
}

.a2a_vertical_style a {
    padding: 0 !important;
}

.a2a_floating_style .a2a_svg svg path {
    fill: #aaaaaa;
}

.a2a_floating_style .a2a_svg {
    background-color: #f2f2f2 !important;
    opacity: 1 !important;
}

    .a2a_floating_style .a2a_svg.a2a_s__default:hover {
        opacity: 1 !important;
    }

    .a2a_floating_style .a2a_svg:hover svg path {
        fill: #fff !important;
    }

    .a2a_floating_style .a2a_svg.a2a_s__default.a2a_s_facebook {
        border-top-right-radius: 3px !important;
    }

        .a2a_floating_style .a2a_svg.a2a_s__default.a2a_s_facebook:hover {
            background-color: #3C5B96 !important;
        }

    .a2a_floating_style .a2a_svg.a2a_s__default.a2a_s_twitter:hover {
        background-color: #5AAEEB !important;
    }

    .a2a_floating_style .a2a_svg.a2a_s__default.a2a_s_google_plus:hover {
        background-color: #D94D3F !important;
    }

    .a2a_floating_style .a2a_svg.a2a_s__default.a2a_s_linkedin:hover {
        background-color: #147DB3 !important;
    }

    .a2a_floating_style .a2a_svg.a2a_s__default.a2a_s_xing:hover {
        background-color: #1D5B65 !important;
    }

    .a2a_floating_style .a2a_svg.a2a_s__default.a2a_s_a2a {
        border-bottom-right-radius: 3px !important;
    }

        .a2a_floating_style .a2a_svg.a2a_s__default.a2a_s_a2a:hover {
            background-color: #006DFB !important;
        }


body.en .a2a_button_xing {
    display: none;
}

.a2a_default_style .a2a_count, .a2a_default_style .a2a_svg, .a2a_floating_style .a2a_svg, .a2a_menu .a2a_svg, .a2a_vertical_style .a2a_count, .a2a_vertical_style .a2a_svg{
    box-sizing: border-box;
}

@media all and (max-width: 767px) {
    .a2a_vertical_style {
        display: none !important;
    }

    .a2a_floating_style.a2a_default_style a {
        padding: 0 5px !important;
    }

    .a2a_floating_style.a2a_default_style {
        background-color: #fff;
        display: flex;
        justify-content: center;
        width: 100%;
        border-radius: 0px;
        padding: 2px 0 0 !important;
    }

        .a2a_floating_style.a2a_default_style .a2a_svg {
            border-radius: 0 !important;
            border-top-right-radius: 3px !important;
            border-top-left-radius: 3px !important;
            padding: 5px;
        }

            .a2a_floating_style.a2a_default_style .a2a_svg.a2a_s__default.a2a_s_google_plus {
                padding: 0px;
            }

            .a2a_floating_style.a2a_default_style .a2a_svg.a2a_s__default.a2a_s_a2a {
                padding: 8px;
            }

    .et_pb_scroll_top.et-pb-icon {
        bottom: 0;
        background-color: #4ab2b0;
        z-index: 99999999;
    }
}

/*AddToAny end*/