<mat-toolbar color="primary" class="header">
  <mat-toolbar-row>
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <div class="logo" onclick="location.href='/dashboard'"></div>

    <mat-divider [vertical]="true" class="divider" *ngIf="!mobileQuery.matches">
    </mat-divider>
    <pp-channel-picker [channel]="channel" (channelChange)="changeChannel($event)" (channelsChange)="channelsChange($event)"
      *ngIf="!mobileQuery.matches"></pp-channel-picker>
    <div class="spacer"></div>
    <pp-search-box style="font-size: 16px;" [query]="searchQuery" (queryChange)="changeSearchQuery($event)" *ngIf="!mobileQuery.matches"></pp-search-box>

    <mat-divider [vertical]=" true " class="divider" *ngIf="!mobileQuery.matches">
    </mat-divider>
    <app-profile></app-profile>
  </mat-toolbar-row>

  <mat-toolbar-row *ngIf="mobileQuery.matches">
    <pp-channel-picker style="width: 100%" [channel]="channel" (channelChange)="changeChannel($event)" (channelsChange)="channelsChange($event)"></pp-channel-picker>
  </mat-toolbar-row>

  <mat-toolbar-row *ngIf="mobileQuery.matches">
    <pp-search-box style="width: 100%; font-size: 16px;" [query]="searchQuery" (queryChange)="changeSearchQuery($event)"></pp-search-box>
  </mat-toolbar-row>
</mat-toolbar>

<mat-toolbar color="primary" class="header" *ngIf="itemId !== ''">
  <button mat-icon-button (click)="closeItem()">
    <mat-icon aria-label="Close item">clear</mat-icon>
  </button>
  <div class="spacer"></div>
  <pp-output-download-menu [id]="itemId" [overlapTrigger]="false" [formats]="itemDetailsComponent && itemDetailsComponent.outputFormats"></pp-output-download-menu>
  <mat-divider [vertical]=" true " class="divider">
  </mat-divider>
  <button mat-mini-fab [color]="isInBasket ? 'accent': 'basic'" (click)="addToBasket()">
    <mat-icon aria-label="Add to basket">add</mat-icon>
  </button>
</mat-toolbar>

<div class="content" [style.top.px]="mobileQuery.matches ? 168 : 64">
  <mat-sidenav-container style="width:100%">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="168"
      [opened]="mobileQuery.matches ? false : true" style="width: 375px;">
      <mat-tab-group class="content-panel">
        <mat-tab label="Filters">
          <pp-content-aggregation-list [channelId]="channel?.id" [aggregators]="channel?.aggregations" [aggregationFilters]="aggregationFilters"
            (aggregationFiltersChange)="changeAggregationFilters($event)" [query]="searchQuery" (filterChange)="filter=$event"></pp-content-aggregation-list>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <span class="basket-count" [matBadge]="basketItems.length" [matBadgeHidden]="basketItems.length < 1" matBadgeOverlap="false">Basket</span>
          </ng-template>
          <pp-basket (previewItemChange)="previewItem($event)"></pp-basket>
        </mat-tab>
      </mat-tab-group>
    </mat-sidenav>


    <mat-sidenav-content>
      <pp-content-browser class="content-browser" [query]="searchQuery" [channel]="channel" [filter]="filter" (previewItemChange)="previewItem($event)"></pp-content-browser>
    </mat-sidenav-content>
  </mat-sidenav-container>


</div>

<div class="item" *ngIf="itemId !== ''" [style.top.px]="mobileQuery.matches ? 56 : 64">
  <app-item-details [itemId]="itemId"></app-item-details>
</div>
