@import "~normalize.css";

@import '~@angular/material/theming';

@import 'custom-theme.scss';

$picturepark-app-primary: mat-palette($mat-fofagreen, 500, 300, 900); //default, lighter, darker
$picturepark-app-accent: mat-palette($mat-accentGreen, 500,300,900);
// The warn palette is optional (defaults to red).
$picturepark-app-warn : mat-palette($mat-red);
$picturepark-app-theme: mat-light-theme($picturepark-app-primary, $picturepark-app-accent, $picturepark-app-warn);


@include mat-core();

@include angular-material-theme($picturepark-app-theme);

body {
  font-family: Roboto;
}

.content .mat-tab-label {
  height: 64px;
}

.mat-expansion-panel-body,
.mat-expansion-panel,
.mat-expansion-panel-header.mat-expanded,
.mat-expansion-panel-header.mat-expanded:hover {
  background: whitesmoke !important;
}

.form {
  background: rgba(0,0,0,.24) !important;
}
.form:focus-within {
  background: rgba(0,0,0,.14) !important;
}

.content-item--selected {
  box-shadow: 0 0 0 2px #6f6f6f;
}

.content-browser__header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12) !important;
}

.mat-card {
  &.custom-shadow {
    @include mat-elevation(2, mat-color($picturepark-app-primary), 2);
  }
}

.logo {
  height: 80px;
  width: 160px;
  background-image: url(assets/images/logo-fofa.png);
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

a {
  color: #2c6836;
  text-decoration: none;
}

.demo-button {
  background-color: #BCDF98;
  height: 42px;
}

.content-item__image-virtual-item-container {
  font-size: 14px;
  color: #eeeeee !important;
  background-color: #6f6f6f;
  border-radius: 2px;

  h1 {
    font-size: 20px;
    line-height: 22px;
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
  }
  h2 {
    font-size: 18px;
    line-height: 20px;
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
  }
  h3 {
    font-size: 17px;
    line-height: 19px;
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
  }
  h4 {
    font-size: 16px;
    line-height: 18px;
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
  }
  h5 {
    font-size: 15px;
    line-height: 17px;
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
  }

  .virtual-content-footer {
    display: none;
  }
}