<mat-toolbar color="primary" class="header">
  <mat-toolbar-row>
    @if (mobileQuery.matches) {
      <button
        mat-icon-button
        (click)="snav?.toggle()"
        class="menu"
        [matBadge]="basketItems.length"
        [matBadgeHidden]="basketItems.length < 1"
        >
        <mat-icon>menu</mat-icon>
      </button>
    }
    <div class="logo" routerLink="/dashboard"></div>
    @if (!mobileQuery.matches) {
      <mat-divider [vertical]="true" class="divider"> </mat-divider>
    }
    @if (!mobileQuery.matches && showChannels) {
      <pp-channel-picker
        [channel]="channel"
        (channelChange)="changeChannel($event)"
        (channelsChange)="channelsChange($event)"
      ></pp-channel-picker>
    }
    <div class="spacer"></div>
    @if (!mobileQuery.matches) {
      <button mat-button class="demo-button" (click)="openDialog($event)">
        {{ 'Items.DemoInfo' | pptranslate }}
      </button>
    }
    &nbsp;
    @if (!mobileQuery.matches) {
      <pp-search-box
        style="font-size: 16px;"
        [searchString]="searchQuery"
        (searchStringChange)="changeSearchQuery($event)"
      ></pp-search-box>
    }
    @if (!mobileQuery.matches) {
      <mat-divider [vertical]="true" class="divider"> </mat-divider>
    }
    @if (!mobileQuery.matches) {
      <app-language></app-language>
    }
    <app-profile></app-profile>
    @if (!mobileQuery.matches) {
      <app-info></app-info>
    }
  </mat-toolbar-row>
</mat-toolbar>
@if (itemId !== '') {
  <mat-toolbar color="primary" class="header">
    <button mat-icon-button (click)="closeItem()">
      <mat-icon attr.aria-label="{{ 'Items.CloseItem' | pptranslate }}">clear</mat-icon>
    </button>
    <div class="spacer"></div>
    <mat-divider [vertical]="true" class="divider"> </mat-divider>
    @if (itemId !== '') {
      <button
        mat-mini-fab
        color="basic"
        class="download"
        attr.aria-label="{{ 'Items.Download' | pptranslate }}"
        (click)="downloadItem()"
        [matTooltip]="'Items.Download' | pptranslate"
        >
        <mat-icon attr.aria-label="{{ 'Items.DownloadItem' | pptranslate }}">get_app</mat-icon>
      </button>
    }
    <button
      mat-mini-fab
      [color]="isInBasket ? 'accent' : 'basic'"
      (click)="addToBasket()"
      [matTooltip]="(isInBasket ? 'Items.RemoveFromBasket' : 'Items.AddToBasket') | pptranslate"
      >
      @if (!isInBasket) {
        <mat-icon attr.aria-label="{{ 'Items.AddToBasket' | pptranslate }}"
          >add
        </mat-icon>
      } @else {
        <mat-icon attr.aria-label="{{ 'Items.RemoveFromBasket' | pptranslate }}">remove</mat-icon>
      }
    </button>
  </mat-toolbar>
}
<div class="content" [style.top.px]="mobileQuery.matches ? 80 : 64">
  <mat-sidenav-container style="width: 100%;">
    <mat-sidenav
      #snav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      disableClose="true"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="80"
      [opened]="mobileQuery.matches ? false : true"
      style="width: 375px;"
      >
      @if (mobileQuery.matches) {
        <mat-toolbar-row>
          <button style="width: 100%;" mat-button class="demo-button" (click)="openDialog($event)">
            {{ 'Items.DemoInfo' | pptranslate }}
          </button>
        </mat-toolbar-row>
      }
      @if (!errorMessage) {
        @if (mobileQuery.matches && showChannels) {
          <mat-toolbar-row>
            <pp-channel-picker
              style="width: 100%;"
              [channel]="channel"
              (channelChange)="changeChannel($event)"
              (channelsChange)="channelsChange($event)"
            ></pp-channel-picker>
            @if (mobileQuery.matches) {
              <app-language></app-language>
            }
            @if (mobileQuery.matches) {
              <app-info></app-info>
            }
          </mat-toolbar-row>
        }
        @if (mobileQuery.matches) {
          <mat-toolbar-row>
            <pp-search-box
              style="width: 100%; font-size: 16px;"
              [searchString]="searchQuery"
              (searchStringChange)="changeSearchQuery($event)"
            ></pp-search-box>
          </mat-toolbar-row>
        }
        <mat-tab-group class="content-panel">
          <mat-tab label="Filters">
            @if (channel) {
              <pp-aggregation-list [facade]="facade"></pp-aggregation-list>
            }
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <span
                class="basket-count"
                [matBadge]="basketItems.length"
                [matBadgeHidden]="basketItems.length < 1"
                matBadgeOverlap="false"
                >{{ 'Items.Basket' | pptranslate }}</span
                >
              </ng-template>
              <pp-basket (previewItemChange)="previewItem($event)"></pp-basket>
            </mat-tab>
          </mat-tab-group>
        }
      </mat-sidenav>
      <mat-sidenav-content>
        @if (!errorMessage) {
          <pp-content-browser class="content-browser" [channel]="channel" (previewItemChange)="previewItem($event)">
          </pp-content-browser>
        } @else {
          <p class="error-message">{{ errorMessage }}</p>
        }
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
  @if (itemId !== '') {
    <div class="item" [style.top.px]="mobileQuery.matches ? 56 : 80">
      <app-item-details [itemId]="itemId"></app-item-details>
    </div>
  }
  