<mat-toolbar color="primary" class="header">
  <mat-toolbar-row>
    <button
      mat-icon-button
      (click)="snav?.toggle()"
      *ngIf="mobileQuery.matches"
      class="menu"
      [matBadge]="basketItems.length"
      [matBadgeHidden]="basketItems.length < 1"
    >
      <mat-icon>menu</mat-icon>
    </button>

    <div class="logo" routerLink="/dashboard"></div>

    <mat-divider [vertical]="true" class="divider" *ngIf="!mobileQuery.matches"> </mat-divider>
    <pp-channel-picker
      [channel]="channel"
      (channelChange)="changeChannel($event)"
      (channelsChange)="channelsChange($event)"
      *ngIf="!mobileQuery.matches && showChannels"
    ></pp-channel-picker>
    <div class="spacer"></div>

    <button *ngIf="!mobileQuery.matches" mat-button class="demo-button" (click)="openDialog($event)">
      {{ 'Items.DemoInfo' | pptranslate }}
    </button>
    &nbsp;
    <pp-search-box
      style="font-size: 16px;"
      [searchString]="searchQuery"
      (searchStringChange)="changeSearchQuery($event)"
      *ngIf="!mobileQuery.matches"
    ></pp-search-box>

    <mat-divider [vertical]="true" class="divider" *ngIf="!mobileQuery.matches"> </mat-divider>
    <app-language *ngIf="!mobileQuery.matches"></app-language>
    <app-profile></app-profile>
    <app-info *ngIf="!mobileQuery.matches"></app-info>
  </mat-toolbar-row>
</mat-toolbar>

<mat-toolbar color="primary" class="header" *ngIf="itemId !== ''">
  <button mat-icon-button (click)="closeItem()">
    <mat-icon attr.aria-label="{{ 'Items.CloseItem' | pptranslate }}">clear</mat-icon>
  </button>
  <div class="spacer"></div>
  <mat-divider [vertical]="true" class="divider"> </mat-divider>
  <button
    mat-mini-fab
    color="basic"
    class="download"
    *ngIf="itemId !== ''"
    attr.aria-label="{{ 'Items.Download' | pptranslate }}"
    (click)="downloadItem()"
    [matTooltip]="'Items.Download' | pptranslate"
  >
    <mat-icon attr.aria-label="{{ 'Items.DownloadItem' | pptranslate }}">get_app</mat-icon>
  </button>
  <button
    mat-mini-fab
    [color]="isInBasket ? 'accent' : 'basic'"
    (click)="addToBasket()"
    [matTooltip]="(isInBasket ? 'Items.RemoveFromBasket' : 'Items.AddToBasket') | pptranslate"
  >
    <mat-icon *ngIf="!isInBasket; else removeIcon" attr.aria-label="{{ 'Items.AddToBasket' | pptranslate }}"
      >add
    </mat-icon>
    <ng-template #removeIcon>
      <mat-icon attr.aria-label="{{ 'Items.RemoveFromBasket' | pptranslate }}">remove</mat-icon>
    </ng-template>
  </button>
</mat-toolbar>

<div class="content" [style.top.px]="mobileQuery.matches ? 80 : 64">
  <mat-sidenav-container style="width: 100%;">
    <mat-sidenav
      #snav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      disableClose="true"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="80"
      [opened]="mobileQuery.matches ? false : true"
      style="width: 375px;"
    >
      <mat-toolbar-row *ngIf="mobileQuery.matches">
        <button style="width: 100%;" mat-button class="demo-button" (click)="openDialog($event)">
          {{ 'Items.DemoInfo' | pptranslate }}
        </button>
      </mat-toolbar-row>
      <ng-container *ngIf="!errorMessage">
        <mat-toolbar-row *ngIf="mobileQuery.matches && showChannels">
          <pp-channel-picker
            style="width: 100%;"
            [channel]="channel"
            (channelChange)="changeChannel($event)"
            (channelsChange)="channelsChange($event)"
          ></pp-channel-picker>
          <app-language *ngIf="mobileQuery.matches"></app-language>
          <app-info *ngIf="mobileQuery.matches"></app-info>
        </mat-toolbar-row>
        <mat-toolbar-row *ngIf="mobileQuery.matches">
          <pp-search-box
            style="width: 100%; font-size: 16px;"
            [searchString]="searchQuery"
            (searchStringChange)="changeSearchQuery($event)"
          ></pp-search-box>
        </mat-toolbar-row>
        <mat-tab-group class="content-panel">
          <mat-tab label="Filters">
            <pp-aggregation-list *ngIf="channel" [facade]="facade"></pp-aggregation-list>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <span
                class="basket-count"
                [matBadge]="basketItems.length"
                [matBadgeHidden]="basketItems.length < 1"
                matBadgeOverlap="false"
                >{{ 'Items.Basket' | pptranslate }}</span
              >
            </ng-template>
            <pp-basket (previewItemChange)="previewItem($event)"></pp-basket>
          </mat-tab>
        </mat-tab-group>
      </ng-container>
    </mat-sidenav>
    <mat-sidenav-content>
      <ng-container *ngIf="!errorMessage; else onError">
        <pp-content-browser class="content-browser" [channel]="channel" (previewItemChange)="previewItem($event)">
        </pp-content-browser>
      </ng-container>
      <ng-template #onError>
        <p class="error-message">{{ errorMessage }}</p>
      </ng-template>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<div class="item" *ngIf="itemId !== ''" [style.top.px]="mobileQuery.matches ? 56 : 80">
  <app-item-details [itemId]="itemId"></app-item-details>
</div>
