.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.spacer {
  flex-grow: 1;
}

.content {
  position: fixed;
  top: 64px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 15px;
}

mat-card {
  margin: 15px;
  width: 300px;
  cursor: pointer;
}

a {
  text-decoration: none;
  text-decoration-color: none;
}

a:visited {
  color: inherit;
}
