<mat-toolbar color="primary" class="header">
  <a routerLink="/dashboard">Bystronic</a>

  <div class="spacer"></div>

  <app-profile></app-profile>
</mat-toolbar>

<div class="content">
  <div class="container">
    <mat-card *ngFor="let item of items; let idx = index; trackBy: trackByItem" (click)="navigate(item.path)">
      <img [src]="images[idx]" mat-card-image>
      <mat-card-title>{{item.title}}</mat-card-title>
      <mat-card-content>{{item.description}}</mat-card-content>
    </mat-card>
  </div>
</div>
