.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  background-color: #fff;
}

.spacer {
  flex-grow: 1;
}

.content-wrap {
  position: fixed;
  top: 80px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  align-items: center;
}

.content {
  width: 800px;
  margin: auto;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

mat-card {
  margin: 5px;
  margin-top: 15px;
  width: 350px;
  cursor: pointer;
}

a {
  text-decoration: none;
  text-decoration-color: none;
}

a:visited {
  color: inherit;
}
