@model Picturepark.SDK.V1.Contract.UserProfile

<h2>@Model.FirstName @Model.LastName</h2>
<span>Email:</span> @Model.EmailAddress<br />

<a asp-controller="Account" asp-action="Logout">Logout</a>
<br /><br />
